In [16]:
# Importing packages

import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [17]:
# Loading data

df = pd.read_csv('final_data.csv')

In [18]:
df.head()

,Date,bond_yield,budget_sur_def,fed_interest_rates,m2_money_supply,unemployment,us_dollar_index,volatility_index,cpi_all,cpi_adjusted,debt_to_gdp
0,1990-01-01,8.99,8282.0,7.97,1.848,5.4,94.540001,17.24,127.5,4.905908,0.516900
1,1990-02-01,9.22,-35207.0,8.25,1.848,5.3,93.449997,24.87,128.0,4.917559,0.518313
2,1990-03-01,9.37,-53324.0,8.30,1.859,5.2,94.720001,21.90,128.6,5.191525,0.518018
3,1990-04-01,9.46,41829.0,8.30,1.859,5.4,94.320000,22.84,128.9,5.276985,0.513890
4,1990-05-01,9.47,-42482.0,8.11,1.859,5.4,93.300003,18.43,129.1,5.166732,0.526558

This dataset doesn't have categorical data, so no need of dummy or indicator features.

In [19]:
# Feature set

X = df.drop(['Date','fed_interest_rates'], axis=1)
X.head()

,bond_yield,budget_sur_def,m2_money_supply,unemployment,us_dollar_index,volatility_index,cpi_all,cpi_adjusted,debt_to_gdp
0,8.99,8282.0,1.848,5.4,94.540001,17.24,127.5,4.905908,0.516900
1,9.22,-35207.0,1.848,5.3,93.449997,24.87,128.0,4.917559,0.518313
2,9.37,-53324.0,1.859,5.2,94.720001,21.90,128.6,5.191525,0.518018
3,9.46,41829.0,1.859,5.4,94.320000,22.84,128.9,5.276985,0.513890
4,9.47,-42482.0,1.859,5.4,93.300003,18.43,129.1,5.166732,0.526558

In [20]:
# Target variable

y = df['fed_interest_rates']

y.head()

0    7.97
1    8.25
2    8.30
3    8.30
4    8.11
Name: fed_interest_rates, dtype: float64

#### Train test split

In [21]:
# Train test split 80-20 split

X_train, X_test, y_train, y_test = train_test_split(X.copy(),y.copy(),
                                                       shuffle=True,
                                                       random_state=153,
                                                       test_size=.2)

#### Standardize the magnitude of numeric features using a scaler

In [22]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)